.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 6vh;
}

.logo {
  margin-right: 15px;
  padding: 0 13px;
  font-size: 22px;
  background-color: #eceff1;
  font-family: Roboto;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo a {
  text-decoration: none;
  color: black;
}

/* .logo {
  text-decoration: none;
  color: black;
} */

.slider {
  width: 340px;
  margin: 0 10px;
  display: inline-block;
}

.rc-slider-track {
  background-color: transparent;
}

.rc-slider-rail {
  height: 8px;
}

.rc-slider-handle,
.rc-slider-handle:active,
.rc-slider-handle:hover,
.rc-slider-handle:focus {
  background-color: green;
  outline: none;
  border: 1px solid green;
  box-shadow: none;
  width: 13px;
  height: 13px;
  /* margin-left: -4px; */
  margin-top: -3px;
}

.rc-slider-handle-dragging {
  border-color: green;
  box-shadow: none;
}

@media (max-width: 575.98px){
  .navbar {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
  }

  .slider {
    margin-top: 5%;
    width: 90%;
    order: 3;
    height: 35%;
  }

  .logo {
    order: 1;
    height: 30%;
    width: 100%;
    align-self: flex-start;
  }

  .select-container {
    height: 35%;
    order: 2;
    width: 90%;
  }
}