.appbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  /* border: 5px solid black; */
}

.nav-bts {
  margin-right: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
   /* border: 5px solid black; */
}

.btn {
  margin: 0 0.5rem;
}